{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% if category %}
{% trans category.name %}
{% else %}
{% trans "Products" %}
{% endif %}
{% endblock %}

{% block content %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item font-weight-bold text-dark" href="/">{% trans "Home" %}</a>
        <!-- <a class="breadcrumb-item text-dark" href="#">Shop</a> -->
        <span class="breadcrumb-item font-weight-bold active">{% trans category.name %}</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Start -->
<div class="container-fluid">

  {% if messages %}
  <div style="margin-left: 45px;" class="alert alert-warning" role="alert">
    {% for message_item in messages %}
    {{ message_item|safe }} - <a href="{% url 'account:wishlist' %}" class="alert-link">{% trans "Your Wishlist" %}</a>.
    {% endfor %}
  </div>
  {% endif %}

  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-4 d-none d-md-block">

      <!-- ProductAttributeForm Start -->
      <div class="bg-light p-4 mb-30">
        <form method="post" action="{% url 'shop:filtering_view' category.slug %}">
          {% csrf_token %}
          {{ product_attribute_form.as_p }}
          <input class="btn btn-primary px-3" type="submit" value="{% trans "Apply Filters" %}">
        </form>
      </div>
      <!-- ProductAttributeForm End -->

    </div>
    <!-- Shop Sidebar End -->

    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-8">
      <div class="row pb-3">
        <!-- Sorting & Showing -->
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">

            <div class="ml-auto">
              <div class="btn-group">
                <form method="post" action="{% url 'shop:sorting_view' category.slug %}">
                  {% csrf_token %}
                  <div class="dropdown">
                    <button id="sortingButton" type="button" class="btn btn-sm btn-light dropdown-toggle"
                      data-toggle="dropdown">
                      {% trans "Sorting" %}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sortingButton">
                      {% for choice in sorting_form.sort.field.choices %}
                      <button class="dropdown-item sort-option" type="submit" name="sort"
                        value="{{ choice.0 }}">{% trans choice.1 %}</button>
                      {% endfor %}
                    </div>
                  </div>
                </form>
              </div>
              <!-- <div class="btn-group ml-2">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                  {% trans "Showing" %}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">10</a>
                  <a class="dropdown-item" href="#">20</a>
                  <a class="dropdown-item" href="#">30</a>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <!-- products -->
        {% for product in products %}
        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
          <div class="product-item bg-light mb-4">
            <!-- image section -->
            <div class="product-img position-relative overflow-hidden" style="height: 300px;">

              {% if product.featured_images %}
              <img src="{{ product.featured_images.0.image.url }}"
                style="object-fit: contain; object-position: center; width: 100%; height: 100%;"
                alt="{{ product.name }}" />
              {% else %}
              <img class="img-fluid w-100 " src="{% static 'img/no_image.png' %}" alt="{{ product.name }}" />
              {% endif %}

              <!-- action -->
              <div class="product-action">
                {% if user.is_authenticated %}
                {% if product.id not in user_wishlist_ids %}
                <a class="btn btn-outline-dark btn-square" href="{% url 'account:user_wishlist' product.id %}">
                  <i class="far fa-heart"></i>
                </a>
                {% else %}
                <a class="btn btn-outline-dark btn-square"><i class="fas fa-heart"></i>
                </a>
                {% endif %}
                {% else %}
                <a class="btn btn-outline-dark btn-square" href="{% url 'account:user_wishlist' product.id %}">
                  <i class="far fa-heart"></i>
                </a>
                {% endif %}
                <!-- end action -->

                <a class="btn btn-outline-dark btn-square"
                  href="{% url 'shop:product_detail' id=product.id slug=product.slug %}"><i
                    class="fa fa-search"></i></a>
              </div>
            </div>

            <!-- name & price & stars -->
            <div class="text-center py-4">
              <a class="h6 text-decoration-none text-truncate"
                href="{% url 'shop:product_detail' id=product.id slug=product.slug %}">
                {{ product.name|truncatechars:25 }}
              </a>
              <div class="d-flex align-items-center justify-content-center mt-2">
                <h5>${{ product.first_sale_price|floatformat:2 }}</h5>
                <h6 class="text-muted ml-2">
                  <del>${{ product.first_retail_price|floatformat:2 }}</del>
                </h6>
              </div>

              <!-- stars -->
              <div class="d-flex justify-content-center">
                {% if product.reviews.count > 0 %}
                <div class="text-primary mb-2">
                  {% for i in "12345" %}
                  {% if product.average_rating >= i|add:"0" %}
                  <i class="fas fa-star"></i>
                  {% else %}
                  <i class="far fa-star"></i>
                  {% endif %}
                  {% endfor %}
                </div>
                <div style="margin-left: 5px;">
                  <small>({{ product.reviews.count }})</small>
                </div>
                {% else %}
                <div class="text-primary mb-2">
                  {% for i in "12345" %}
                  <i class="far fa-star"></i>
                  {% endfor %}
                </div>
                <div style="margin-left: 5px;">
                  <small>(0)</small>
                </div>
                {% endif %}
              </div>
              <!-- end stars -->

            </div>
            <!-- end name & price & stars -->

          </div>
        </div>
        {% endfor %}

        <!-- pagination -->
        <div class="col-12">
          <nav>
            <ul class="pagination justify-content-center">
              {% if products.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1">{% trans "First" %}</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}">{% trans "Previous" %}</a>
              </li>
              {% endif %}

              {% for num in products.paginator.page_range %}
              {% if num == products.number %}
              <li class="page-item active">
                <span class="page-link">{{ num }}</span>
              </li>
              {% elif num > products.number|add:"-2" and num < products.number|add:"2" %}
              <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
              {% endif %}
              {% endfor %}

              {% if products.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}">{% trans "Next" %}</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ products.paginator.num_pages }}">{% trans "Last" %}</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>
<!-- Shop End -->


<!-- Script for changing name of sorting button when select one item -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var initialSortValue = "{% trans sorting_form.initial.sort %}"; // مقدار اولیه از فرم
    document.getElementById('sortingButton').innerText = initialSortValue;

    var sortOptions = document.getElementsByClassName('sort-option');
    for (var i = 0; i < sortOptions.length; i++) {
      sortOptions[i].addEventListener('click', function (event) {
        var selectedValue = event.target.value;
        var selectedText = event.target.innerText;
        document.getElementById('sortingButton').innerText = selectedText;
        document.getElementById('sortInput').value =
          selectedValue; // مقدار انتخاب شده را در فرم پنهان ذخیره می‌کنیم
      });
    }
  });
</script>


{% endblock %}