{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}{% endblock %}

{% block content %}
<div id="exceptionDivHelp" style="text-align: center;">
    <img src="{% static 'img/01.jpg' %}" alt="{% trans "Your Image" %}"
        style="width: 15%; height: auto; display: block; margin: 0 auto;">
    <div>
        <p style="margin-top: 50px;">{% trans "You can place any content you desire on this page for" %}</p>
        <p style="margin-top: 10px;">&#10004; {% trans "About" %}</p>
        <p style="margin-top: 10px;">&#10004; {% trans "Contact" %}</p>
        <p style="margin-top: 10px;">&#10004; {% trans "Help" %}</p>
        <p style="margin-top: 10px;">&#10004; {% trans "FAQs" %}</p>
        <p style="margin-top: 10px;">&#10004; {% trans "Contact" %}</p>
    </div>
</div>
{% endblock %}