{% extends "shop/base.html" %}
{% load static %}

{% load i18n %}

{% block title %}
{% if subcategories %}
{{ subcategories.name }}
{% else %}
{% trans "Categories" %}
{% endif %}
{% endblock %}

{% block content %}
<style>
    /* استایل برای نمایشگرهای بزرگ (Desktop) */
    @media (min-width: 768px) {
        h3 {
            margin-left: 120px;
            /* تغییر فاصله از چپ برای هدینگ */
        }

        .content-section {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* 3 ستون */
            grid-gap: 20px;
            /* فاصله بین دسته‌بندی‌ها */
            margin-top: 50px;
            /* فاصله بالایی از صفحه */
        }

        .content-section .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 20px;
            /* فاصله بین سطرها */
        }

        .content-section .image-container {
            width: 200px;
            /* اندازه قاب تصویر */
            height: 200px;
            /* اندازه قاب تصویر */
            border-radius: 50%;
            /* تبدیل تصویر به دایره */
            overflow: hidden;
            /* پنهان کردن بخش‌های خارج از قاب */
            border: 5px solid #ccc;
            /* حاشیه قاب */
            display: flex;
            justify-content: center;
            /* وسط چینی افقی */
            align-items: flex-start;
            /* بالایی چینی عمودی */
        }


        .content-section .circle-image {
            width: 100%;
            height: auto;
            border-radius: 50%;
            /* اعمال شکل دایره به تصویر */
        }
    }

    /* استایل برای نمایشگرهای کوچک (Mobile) */
    @media (max-width: 767px) {
        h3 {
            margin-left: 20px;
            /* تغییر فاصله از چپ برای هدینگ */
        }

        .content-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* نمایش در یک ستون */
            margin-top: 30px;
            /* فاصله بالایی از صفحه */
        }

        .content-section .column {
            text-align: center;
            margin-bottom: 20px;
            /* فاصله بین سطرها */
        }

        .content-section .image-container {
            width: 100%;
            /* عرض کامل */
            max-width: 200px;
            /* حداکثر عرض قاب تصویر */
            margin: 0 auto;
            /* مرکز چینی */
        }

        .content-section .circle-image {
            width: 100%;
            height: auto;
            border-radius: 50%;
            /* اعمال شکل دایره به تصویر */
        }
    }
</style>

<h3 style="margin-top: 40px; ">{{ subcategories.first.parent.name }}:</h3>

<div class="content-section">
    {% for category in subcategories %}
    <div class="column">
        <div class="image-container">
            <a href="{% url 'shop:show_categories' category_slug=category.slug %}">
                <img src="{% static 'img/' %}{{ category.slug }}.jpg" alt="{% trans 'Your Image' %}"
                    class="circle-image">
            </a>
        </div>
        <p style="margin-top: 40px;">{{ category.name }}</p>
    </div>
    {% endfor %}
</div>


{% endblock %}