/* Hide the spin buttons (up and down triangles) in the number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Center-align the number input value */
input[type="number"] {
    text-align: center;
}
                        
/* افزودن فاصله بین دکمه و مقدار ورودی */
.input-group-append {
    margin-left: 10px;
}
