{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}

<div class="col-11">
  <h1 class="h2">{% trans "Your Account" %}</h1>
</div>
<div class="col-11 justify-content-between">
  <div>{% trans "Manage your orders and personal details" %}
  </div>
</div>
<hr />

<div class="container-fluid">
  <div class="row h-150">
    <div class="col d-flex align-items-stretch">
      <a href="{% url 'account:user_orders' %}" class="text-reset text-decoration-none" role="button"
        style="max-width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <svg class="position-absolute top-50 start-50 translate-middle" xmlns="http://www.w3.org/2000/svg"
                width="30" height="30" fill="currentColor" class="bi bi-gift" viewBox="0 0 16 16">
                <!-- ... -->
              </svg>
            </div>
            <div class="col-12">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">{% trans "Orders" %}</h1>
                <p class="card-text small text-muted">{% trans "View, Track, Change or buy again" %}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col d-flex align-items-stretch">
      <a href="{% url "account:edit_details" %}" class="text-reset text-decoration-none" role="button"
        style="max-width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <svg class="position-absolute top-50 start-50 translate-middle" xmlns="http://www.w3.org/2000/svg"
                width="30" height="30" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                <!-- ... -->
              </svg>
            </div>
            <div class="col-12">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">{% trans "Login & Security" %}</h1>
                <p class="card-text small text-muted">{% trans "Edit login, email and phone number" %}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col d-flex align-items-stretch">
      <a href="{% url "account:addresses" %}" class="text-reset text-decoration-none" role="button"
        style="max-width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <svg class="position-absolute top-50 start-50 translate-middle" xmlns="http://www.w3.org/2000/svg"
                width="30" height="30" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                <!-- ... -->
              </svg>
            </div>
            <div class="col-12">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">{% trans "Your Addresses" %}</h1>
                <p class="card-text small text-muted">{% trans "Edit your shipping addresses" %}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col d-flex align-items-stretch">
      <a href="{% url "account:wishlist" %}" class="text-reset text-decoration-none" role="button"
        style="max-width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <svg class="position-absolute top-50 start-50 translate-middle" xmlns="http://www.w3.org/2000/svg"
                width="30" height="30" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                <!-- ... -->
              </svg>
            </div>
            <div class="col-12">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">{% trans "Your Wish List" %}</h1>
                <p class="card-text small text-muted">{% trans "View your Wish List" %}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- cart style -->
<style>
  /* استایل برای کانتینر کارت‌ها */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* فاصله بین کارت‌ها */
  }

  /* استایل برای هر کارت */
  .card {
    flex: 1 1 300px;
    /* تنظیم ارتفاع و عرض دلخواه برای کارت‌ها */
    background-color: #f0f0f0;
    /* رنگ پس‌زمینه برای نمایش */
    padding: 5px;
    /* فاصله درونی کارت‌ها */
    height: 140px;
    /* یک ارتفاع بیشتر برای کارت‌ها */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* وسط چین کردن متن درون کارت */
  }
</style>



{% endblock %}