{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Checkout" %}
{% endblock %}

{% block content %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/">{% trans "Home" %}</a>
                <!-- <a class="breadcrumb-item text-dark" href="#">Shop</a> -->
                <span class="breadcrumb-item active">{% trans "Checkout" %}</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Checkout Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- BILLING ADDRESS -->
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span
                    class="bg-secondary pr-3">{% trans "Billing Address" %}</span></h5>

            <div class="bg-light p-30 mb-5">

                <!-- user_profile.html -->

                <h5>{% trans "Address" %}:</h5>

                {% if address %}
                <div class="bg-light p-30 mb-5">
                    <p>{% trans "Recipient Name" %}: {{ address.recipient_name }}</p>
                    <p>{% trans "Phone Number" %}: {{ address.recipient_phone }}</p>
                    <p>{% trans "City" %}: {{ address.town_city }}</p>
                    <p>{% trans "Address" %}: {{ address.address_line }}</p>
                    <hr>
                    <p><a href="{% url 'account:add_address' %}?from_cart=True">{% trans "Add a new address" %}</a></p>
                </div>
                {% else %}
                <p>{% trans "No addresses have been registered." %}</p>
                <p><a href="{% url 'account:add_address' %}?from_cart=True">{% trans "Add a new address" %}</a></p>
                {% endif %}

                <div class="text-center mt-3">
                    <a href="" class="btn btn-primary btn-lg">{% trans "Place Order" %}</a>
                </div>
            </div>

        </div>
        <!-- ORDER TOTAL -->
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span
                    class="bg-secondary pr-3">{% trans "Order Total" %}</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{% trans "Product" %}</th>
                                <th>{% trans "Quantity" %}</th>
                                <th>{% trans "Total Price" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                            <tr>
                                <td>{{ item.product.name|truncatechars:25 }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>${{ item.total_price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>{% trans "Subtotal" %}</h6>
                        <h6>${{ cart.get_total_price }}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">{% trans "Shipping" %}</h6>
                        <h6 class="font-weight-medium">$10</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>{% trans "Total" %}</h5>
                        <h5>${{ cart.get_total_price|add:10 }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->

{% endblock %}