{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Thank you" %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">{% trans "Thank you" %}</h1>
            <p class="lead">{% trans "Your order has been successfully completed. Your order number is" %}
                <strong>"{{ order.id|add:6000 }}"</strong>.</p>
            <a href="/" class="btn btn-primary">{% trans "Return to Home" %}</a>
        </div>
    </div>
</div>
{% endblock %}