{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}"{% trans "Payment failed"%}"{% endblock %}

{% block content %}
<div class="container">
  <div class="col-12">
    <h1 class="h2">{% trans 'Payment failed' %}</h1>
  </div>
  <div class="col-12">
    <p>{% trans 'The connection to the server could not be established successfully' %}</p>
    <p>{% trans 'Please check your internet connection and try again' %}</p>
  </div>
  <hr />
  <div class="col-12">
    <p>{% trans 'View shopping cart' %}<a href="{% url 'cart:cart_detail' %}">{% trans  'click here' %}</a></p>
  </div>
</div>
{% endblock %}